.appList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #302f30;

}

li {
    float: left;
    border-right: 1px solid #bbb;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }

    nav li {
        padding: 0.5rem 0;
    }
}

.loading {
    color: rgb(77, 212, 23);
}

@media all and (max-width: 800px) {
    .container {
        padding: 20px;
    }
}

@media all and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}